<div class="about">
	<%= link_to '', about_path %>
</div>
<div class="research">
	<%= link_to '', research_path %>
</div>
<div class="portfolio">
	<%= link_to '', portfolio_path %>
</div>
<div class="people">
	<%= link_to '', people_path %>
</div>
<div class="contact">
	<%= link_to '', contact_path %>
</div>
